# CONFIG

In [76]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import json
import time
import seaborn as sb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from numpy import NaN
df = pd.read_csv("60k.csv")
df.columns

Index(['Unnamed: 0', 'id', 'locality', 'postal_code', 'region', 'province',
       'type_of_property', 'subtype_of_property', 'type_of_sale', 'price',
       'number_of_bedrooms', 'surface', 'kitchen_type',
       'fully_equipped_kitchen', 'furnished', 'open_fire', 'terrace',
       'terrace_surface', 'garden', 'garden_surface', 'land_surface',
       'number_of_facades', 'swimming_pool', 'state_of_the_building'],
      dtype='object')

# CLEANING

- DROP features

In [77]:
del df["Unnamed: 0"]
del df["locality"]
del df["fully_equipped_kitchen"]
del df["kitchen_type"]
del df["land_surface"]
del df["number_of_facades"]
del df["garden_surface"]
del df["terrace_surface"]
del df["furnished"]
del df["open_fire"]
del df["state_of_the_building"]
del df["region"]
del df["province"]

Index(['id', 'postal_code', 'type_of_property', 'subtype_of_property',
       'type_of_sale', 'price', 'number_of_bedrooms', 'surface', 'terrace',
       'garden', 'swimming_pool'],
      dtype='object')

Replace -1 BY NaN
Replace NaN by 0 for selected features

In [78]:
df = df.replace(-1, NaN)
df["swimming_pool"] = df["swimming_pool"].replace(NaN, 0).astype(int)
df["garden"] = df["garden"].replace(NaN, 0).astype(int)
df["terrace"] = df["terrace"].replace(NaN, 0).astype(int)

print(df["swimming_pool"].unique())
print(df["garden"].unique())
print(df["terrace"].unique())

[0 1]
[0 1]
[1 0]

Drop NaN in selected features

In [79]:
df.dropna(subset='price', inplace = True)
df.dropna(subset='number_of_bedrooms', inplace = True)
df.dropna(subset='surface', inplace = True)

,id,postal_code,type_of_property,subtype_of_property,type_of_sale,price,number_of_bedrooms,surface,terrace,garden,swimming_pool
0,10131114,5377,HOUSE,HOUSE,residential_sale,100000.0,2.0,150.0,1,0,0
1,10150865,5500,APARTMENT,APARTMENT,residential_sale,219000.0,2.0,100.0,1,0,0
2,10134850,5190,HOUSE,APARTMENT_BLOCK,residential_sale,450000.0,6.0,330.0,1,1,0
3,10022778,5030,APARTMENT,APARTMENT,residential_sale,285000.0,2.0,81.0,1,0,0
4,9989192,5060,APARTMENT,APARTMENT,residential_sale,284000.0,2.0,150.0,1,0,0

In [86]:
df.drop(df.index[df['type_of_property'] == 'HOUSE_GROUP'], inplace=True)
df.drop(df.index[df['type_of_property'] == 'APPARTMENT_GROUP'], inplace=True)
df.drop(df.index[df['type_of_sale'] != 'residential_sale'], inplace=True)

count     49023
unique        2
top       HOUSE
freq      28247
Name: type_of_property, dtype: object