Configuring

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import json
import time
import seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from numpy import NaN
df = pd.read_csv("60k.csv")
df.head()

,Unnamed: 0,id,locality,postal_code,region,province,type_of_property,subtype_of_property,type_of_sale,price,...,furnished,open_fire,terrace,terrace_surface,garden,garden_surface,land_surface,number_of_facades,swimming_pool,state_of_the_building
0,0,10131114,HEURE,5377,Wallonie,Namur,HOUSE,HOUSE,residential_sale,100000,...,0,0,1,-1,-1,-1,198,3,-1,TO_RENOVATE
1,1,10150865,Dinant,5500,Wallonie,Namur,APARTMENT,APARTMENT,residential_sale,219000,...,0,0,1,-1,-1,-1,-1,3,-1,GOOD
2,2,10134850,Jemeppe-sur-Sambre Saint-Martin,5190,Wallonie,Namur,HOUSE,APARTMENT_BLOCK,residential_sale,450000,...,-1,0,1,13,1,200,746,4,-1,GOOD
3,3,10022778,Gembloux,5030,Wallonie,Namur,APARTMENT,APARTMENT,residential_sale,285000,...,-1,0,1,6,-1,-1,-1,2,0,AS_NEW
4,4,9989192,Sambreville,5060,Wallonie,Namur,APARTMENT,APARTMENT,residential_sale,284000,...,0,0,1,16,-1,-1,-1,3,0,AS_NEW

DATA CLEANING

In [2]:
def give_info(data):

    info = (pd.concat([data.dtypes,
                   data.nunique(),
                   data.isnull().sum()],axis=1))
    info = info.rename(columns={0:'Data Types',
                            1:'Uniques values', # amount of possible values , 'cardinality' of variable
                            2:'Null Values'}) # amount of null values

    return info
give_info(df)

                       Data Types  Uniques values  Null Values
Unnamed: 0                  int64           62430            0
id                          int64           62413            0
locality                   object            4395            0
postal_code                 int64            1073            0
region                     object               3            0
province                   object              11            0
type_of_property           object               4            0
subtype_of_property        object              26            0
type_of_sale               object               4            0
price                       int64            5082            0
number_of_bedrooms          int64              47            0
surface                     int64             904            0
kitchen_type               object               9            0
fully_equipped_kitchen     object               8            0
furnished                   int64               3            0
open_fire                   int64               2            0
terrace                     int64               2            0
terrace_surface             int64             220            0
garden                      int64               2            0
garden_surface              int64            1488            0
land_surface                int64            3871            0
number_of_facades           int64              13            0
swimming_pool               int64               3            0
state_of_the_building      object               7            0

In [3]:
random_df = df.copy()

random_df.replace(-1, NaN).isnull().sum()

Unnamed: 0                    0
id                            0
locality                      0
postal_code                   0
region                        0
province                      0
type_of_property              0
subtype_of_property           0
type_of_sale                  0
price                      3001
number_of_bedrooms         2842
surface                   12875
kitchen_type                  0
fully_equipped_kitchen        0
furnished                 21380
open_fire                     0
terrace                   27157
terrace_surface           40396
garden                    43369
garden_surface            50542
land_surface              26137
number_of_facades         19269
swimming_pool             31658
state_of_the_building         0
dtype: int64

In [4]:
random_df.isna().sum()

Unnamed: 0                0
id                        0
locality                  0
postal_code               0
region                    0
province                  0
type_of_property          0
subtype_of_property       0
type_of_sale              0
price                     0
number_of_bedrooms        0
surface                   0
kitchen_type              0
fully_equipped_kitchen    0
furnished                 0
open_fire                 0
terrace                   0
terrace_surface           0
garden                    0
garden_surface            0
land_surface              0
number_of_facades         0
swimming_pool             0
state_of_the_building     0
dtype: int64

In [5]:
give_info(random_df)

                       Data Types  Uniques values  Null Values
Unnamed: 0                  int64           62430            0
id                          int64           62413            0
locality                   object            4395            0
postal_code                 int64            1073            0
region                     object               3            0
province                   object              11            0
type_of_property           object               4            0
subtype_of_property        object              26            0
type_of_sale               object               4            0
price                       int64            5082            0
number_of_bedrooms          int64              47            0
surface                     int64             904            0
kitchen_type               object               9            0
fully_equipped_kitchen     object               8            0
furnished                   int64               3            0
open_fire                   int64               2            0
terrace                     int64               2            0
terrace_surface             int64             220            0
garden                      int64               2            0
garden_surface              int64            1488            0
land_surface                int64            3871            0
number_of_facades           int64              13            0
swimming_pool               int64               3            0
state_of_the_building      object               7            0